{% extends '@!EasyAdmin/layout.html.twig' %}

{% block head_stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/trumbowyg.min.css') }}">
    <link rel="stylesheet" href="{{ asset('styles/admin.css') }}">
{% endblock %}

{% block body_javascript %}
    {{ parent() }}
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/trumbowyg@2.31.0/dist/trumbowyg.min.js"></script>
    <script>
        $(document).ready(function() {
            // Initialiser Trumbowyg sur les éléments existants
            $('.trumbowyg-editor').trumbowyg({
                btns: [
                    ['viewHTML'],
                    ['undo', 'redo'],
                    ['formatting'],
                    ['strong', 'em', 'del'],
                    ['superscript', 'subscript'],
                    ['link'],
                    ['insertImage'],
                    ['justifyLeft', 'justifyCenter', 'justifyRight', 'justifyFull'],
                    ['unorderedList', 'orderedList'],
                    ['horizontalRule'],
                    ['removeformat'],
                    ['fullscreen']
                ]
            });

            // Fonction pour initialiser la validation du titre
            function initTitleValidation() {
                // Chercher le champ titre (peut avoir différents noms selon EasyAdmin)
                const titleInputs = $('input[name*="title"], input[id*="title"], input[name*="Title"], input[id*="Title"]');
                
                titleInputs.each(function() {
                    const $input = $(this);
                    const $container = $input.closest('.form-group, .field-group, .ea-form-field');
                    
                    // Éviter de dupliquer les avertissements
                    if ($container.find('.title-warning').length === 0) {
                        // Ajouter l'élément d'avertissement
                        const $warning = $('<div class="title-warning">Mieux si titre &lt; 110 caractères</div>');
                        $input.after($warning);
                        
                        // Fonction de validation
                        function validateTitle() {
                            const titleLength = $input.val().length;
                            if (titleLength > 110) {
                                $warning.addClass('show');
                            } else {
                                $warning.removeClass('show');
                            }
                        }
                        
                        // Écouter les changements
                        $input.on('input keyup paste', validateTitle);
                        
                        // Validation initiale
                        validateTitle();
                    }
                });
            }

            // Initialiser la validation du titre
            initTitleValidation();

            // Observer pour les éléments ajoutés dynamiquement
            const observer = new MutationObserver(function(mutations) {
                mutations.forEach(function(mutation) {
                    mutation.addedNodes.forEach(function(node) {
                        if (node.nodeType === 1) { // Element node
                            const textareas = node.querySelectorAll ? node.querySelectorAll('.trumbowyg-editor:not(.trumbowyg-replaced)') : [];
                            textareas.forEach(function(textarea) {
                                $(textarea).trumbowyg({
                                    btns: [
                                        ['viewHTML'],
                                        ['undo', 'redo'],
                                        ['formatting'],
                                        ['strong', 'em', 'del'],
                                        ['superscript', 'subscript'],
                                        ['link'],
                                        ['insertImage'],
                                        ['justifyLeft', 'justifyCenter', 'justifyRight', 'justifyFull'],
                                        ['unorderedList', 'orderedList'],
                                        ['horizontalRule'],
                                        ['removeformat'],
                                        ['fullscreen']
                                    ]
                                });
                            });
                            
                            // Réinitialiser la validation du titre pour les nouveaux éléments
                            initTitleValidation();
                        }
                    });
                });
            });

            observer.observe(document.body, {
                childList: true,
                subtree: true
            });
        });
    </script>
{% endblock %}

